@(game: Form[Match])(implicit flash: play.api.mvc.Flash)

@import helper._
@import tags._

@main(1) {
	<div class="hero-unit">
		<h1>Game on!</h1>

		<div>
			<p>Please complete the form below</p>
		</div>
	</div>

	@if(game.hasErrors) {
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
  		<h4>Oops, there's something wrong!</h4>

  		@for(byKey <- game.errors.groupBy(_.key)) {
  			<p>
  				@Messages(byKey._1):
  				@byKey._2.map(x => Messages(x.message).toLowerCase).mkString(", ")
  			</p>
  		}

    </div>
  }

	<div>
		@helper.form(routes.Game.save) {
	    <fieldset>
	    	<div>
	    		<div class="pull-left">
	    			<legend>Home</legend>

	    			<span class="sc-info">
	    				@typeahead(game("game.home.player"), 'placeholder -> "Player", 'source -> routes.PlayerController.names())
    					@typeahead(game("game.home.team"), 'placeholder -> "Team", 'source -> routes.TeamController.names())
	    			</span>

	    			<span class="sc-score">
	    				@simpleText(game("game.home.goals"))
	    			</span>
	    		</div>

	    		<div class="versus pull-left">
	    				<h4>x</h4>
	    		</div>

	    		<div class="pull-left">
	    			<legend class="text-right">Away</legend>

						<span class="sc-score">
	    				@simpleText(game("game.away.goals"))
	    			</span>

	    			<span class="sc-info">
	    				@typeahead(game("game.away.player"), 'placeholder -> "Player", 'source -> routes.PlayerController.names())
	    				@typeahead(game("game.away.team"), 'placeholder -> "Team", 'source -> routes.TeamController.names())
	    			</span>
	    		</div>
	    	</div>
	    </fieldset>
	    
	    <div class="actions pull-right">
	        <input type="submit" value="Create" class="btn btn-primary">
	        <a href="@routes.Game.list()" class="btn btn-info">Cancel</a> 
	    </div>
    }
	</div>
}