@(matches: Page[Match])(implicit flash: play.api.mvc.Flash)

@import tags._

@main(0) {
	<div class="hero-unit">
		<h1>Fixtures</h1>

		<div>
			<p>Please choose:</p>
			<a class="btn btn-primary" href="@routes.Game.create"><i class="icon-plus icon-white"></i> Friendly</a>
			<a class="btn btn-primary" href="@routes.Game.random"><i class="icon-plus icon-white"></i> Tournament</a>
			<a class="btn btn-primary" href="@routes.Game.random"><i class="icon-star icon-white"></i> Memorable</a>
		</div>
	</div>

	@done(flash)

	<div class="container">
		@games(matches)
		@paginate(matches, 9, routes.Game.list _)
	</div>
}
