@(players: Page[Player])(implicit flash: play.api.mvc.Flash)

@import tags._

@header(caption: Any, number: Boolean = true) = {
	<th class="@if(number){number}">@caption</th>
}

@value(value: Any, number: Boolean = true) = {
	<td class="@if(number){number}">@value</th>
}

@row(player: (Player, Long)) = {
	<tr>
		@value(player._2, false)
		@value(player._1.name, false)
		@value(player._1.record.wins)
		@value(player._1.record.draws)
		@value(player._1.record.losses)
		@value(player._1.record.goalsScored)
		@value(player._1.record.goalsConceded)
		@value(player._1.record.percent)
	</tr>
}

@main(1) {
	<div class="hero-unit">
		<h1>Players</h1>
		<p>Please choose:</p>
		<a class="btn btn-primary" href="@routes.PlayerController.create">
			<i class="icon-plus icon-white"></i> Add
		</a>
	</div>	

	@done(flash)

	<table class="table table-hover table-condensed text-center">
	  <thead>
	    <tr>
	      @header("#", false)
	      @header("Player", false)
	      @header("W")
	      @header("D")
	      @header("L")
	      @header("GS")
	      @header("GC")
	      @header("%")
	    </tr>
	  </thead>
	  <tbody>
	  	@players.items.zip(1 + players.offset to players.offset + players.items.size).map(row)
	  </tbody>
	</table>

	@paginate(players, 5, routes.PlayerController.list _)
}