body {
	padding-top: 40px;
}

section {
	margin-top: 30px;
}

.table .number {
	text-align: right;
}

.alert p {
	margin: 5px 0px 5px;
}

.game {
	padding-bottom: 20px;
	padding-top: 10px;
	border-top: 1px solid #eeeeee;
}

.game:first-child {
	border-style: none;
}

.player h3 {
	margin-bottom: 0px;
}

.player h1 {
	margin-bottom: 0px;
}

.versus {
	margin-top: 121px;
	margin-left: 20px;
	margin-right: 20px;
	width: 10px;
	float: left;
}

.sc-info {
	float: left;
	width: 353px;
}

.sc-info input[type="text"] {
	width: 338px;
	height: 30px;
	font-size: 18px;
}

.sc-score {
	float: left;
	height: 80px;
	padding-right: 20px;
	padding-left: 0px;
}

.sc-score:last-child {
	padding-left: 20px;
	padding-right: 0px;
}

.sc-score input[type="text"] {
	height: 80px;
	width: 50px;
	font-size: 50px;
	padding-left: 20px;
	padding-right: 0px;
}

/*Player view*/

.recent {
	margin-top: 30px;
}

.stats a {
	color: inherit;
}

.stats a:hover {
	text-decoration: none;
}

