/**
 * General
 */

body {
	padding-top: 40px;
}

section {
	margin-top: 30px;
}

.highlight {
	padding-top: 60px;
	padding-bottom: 40px;
}

.featured {
	line-height: 30px;
	font-size: 30px;
	font-weight: 200;
}

.right-rounded {
	border: 1px solid #eeeeee;
	border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.left-rounded {
	border: 1px solid #eeeeee;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right-style: none;
}

/**
 * Fixtures
 */
.game {
	padding-bottom: 20px;
	padding-top: 10px;
	border-top: 1px solid #eeeeee;
}

.game:first-child {
	border-style: none;
}

.game h3, .game h1 {
	margin-bottom: 0px;
}

/**
 * Match form
 */
.alert p {
	margin: 5px 0px 5px;
}

.sc-info, .sc-score, .versus {
	float: left;
}

.sc-info {
	padding-right: 20px;
	padding-left: 0px;
}

.sc-info:last-child {
	padding-right: 0px;
	padding-left: 20px;
}

.sc-info input[type="text"] {
	width: 338px;
	height: 30px;
	font-size: 18px;
}

.sc-score input[type="text"] {
	height: 90px;
	width: 50px;
	font-size: 50px;
	padding-left: 20px;
	padding-right: 0px;
}

.versus {
	margin-top: 131px;
	margin-right: 20px;
	margin-left: 20px;
}

/**
 * Memorable
 */
.memorable {
	width: 540px;
	margin: 0px auto;
}

.teams {
  width: 480px;
}

.team-row {
	padding: 20px 20px 20px 20px;
	border-top: 1px solid #eeeeee;
}

.team-row:first-child {
	border-style: none;
}

.refresh {
	margin-top: 25px;
}

/**
 * Rankings
 */
.table .number {
	text-align: right;
}

/**
 * Player view
 */

.stats a {
	color: inherit;
}

.stats a:hover {
	text-decoration: none;
}

