@(player: Player, recent: Page[Match], rivals: List[Rivalry])

@import tags._

@rivalry(r: Rivalry) = {
	@r.name match {
		case name @ "Nemesis" => { <span class="label label-important">@name</span> }
		case name => { <span class="label label-success">@name</span> }
	}

	<small>
		<a href="@routes.PlayerController.view(r.rival.id.get)">
			@r.rival.name (@(r.record.wins)-@(r.record.draws)-@(r.record.losses))
		</a>
	</small><br/>
}

@main(1) {
	<div class="page-header">
			<h1 class="float-left">@player.name</h1>
	</div>

	<div class="row">				
		<div class="span4 stats">
			<h4>Statistics</h4>
			<strong>@player.record.total</strong> games<br/>
			<strong>@player.record.wins</strong> wins<br/>
			<strong>@player.record.draws</strong> draws<br/>
			<strong>@player.record.losses</strong> losses<br/>
		</div>

		<div class="span4 stats align-text">
			<h4>Rivalries</h4>
			
			@rivals.map(rivalry)
		</div>

		<div class="span4 stats">
			<h4>Achievements</h4>
			<!--<abbr title="Consecutive games won">10 Win Streak </abbr><br/>
			<abbr title="Scored 10 goals in a game">Top Scorer</abbr><br/>-->
		</div>
	</div>

	<div class="recent">
		<h4>Recent</h4>
		@games(recent)
	</div>
}